.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 380px;
  left: 60px;
}

.baloon {
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 300px;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  top: 240px;
  left: 320px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 370px;
  left: 600px;
}
